@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

#lunes{
background-color: green;
}
#martes{
    background-color: red;
}
#miercoles{
    background-color: purple;
}
#jueves{
    background-color: blue;
}
#viernes{
    background-color: yellow;
}

.hidden{
    display: none;
}

img {
    width: 75px;
}

.day img {
    width: 150px;
}

body {
    background: skyblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1em;
    margin: 0;
}

main {
    padding-top: 6rem;
}

p{
    margin-bottom: 1.5em;
}

header {
    background: grey;

    position: fixed;
    top: 0;
    width: 100%;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
}

.navigation ul li a:hover {
    color: blueviolet;
}

main ul li {
    list-style: none;
    display: inline-block;
    padding: 0.5rem 1rem;
}

main ul li:hover {
    background-color:red;
}

main nav a {
    text-decoration: none;
    font-size: 1.2em;
    word-spacing: em;
    color: black;
}

main nav {
    word-spacing: 2em;
}

main nav a:hover{
    background-color: red;
}

